- content_for(:headers) do
  %script{:type => "text/javascript", :src => "/javascripts/available_rrds.js"}
  %script{:type => "text/javascript", :src => "/javascripts/jquery.showtime.js"}
  %script{:type => "text/javascript", :src => "/javascripts/jquery.human_date.js"}
  %link{:rel => 'stylesheet', :href => '/stylesheets/available_rrds.css', :type => 'text/css'}

%div#template.hidden
  %div.rrd
    %div.name Name: ${short_name}
    %div.last_update
      Last update
      %span.timestamp{:title => "${last_update}"}
        ${last_update}
    %div.step Step: ${step}
  

%div#time
  345

#target

Hello !!