- content_for(:css) do
  %link{:rel => 'stylesheet', :href => '/stylesheets/graph.css', :type => 'text/css'}
  
- content_for(:headers) do
  %script{:type => "text/javascript", :src => "/javascripts/generated/views/collectd.js"}


#toggle_config
  Configure
  
#config_panel{:style => "display: nonde"}
  %input{:type => 'checkbox'} Check me
  

#graphs
