- content_for(:css) do
  %link{:rel => 'stylesheet', :href => '/stylesheets/graph.css', :type => 'text/css'}
  
- content_for(:headers) do
  %script{:type => "text/javascript", :src => "/javascripts/graph.js"}

/ #add_graph
/   Add Graph:&nbsp;
/   %select#graphs_list{:name => "graph"}

#graph_container
