- content_for(:css) do
  %link{:rel => 'stylesheet', :href => '/chosen/chosen.css', :type => 'text/css'}
  
- content_for(:headers) do
  %script{:type => "text/javascript", :src => "/chosen/chosen.jquery.js"}
  %script{:type => "text/javascript", :src => "/javascripts/collectd.js"}

  
#config_panel{:class => "row"}
  .column.grid_4
    .row
      %input.checkbox#autorefresh{:type => "checkbox"}
      %label{:for => "autorefresh"} Auto Refresh
    .row
      %input.checkbox#linkedzoom{:type => "checkbox", :checked => true}
      %label{:for => "linkedzoom"} Linked Zoom
  
  .column.grid_4
    %label{:for => "rangeselect"} Interval:
    %select#rangeselect
      %option{:value => 30, :selected => true} 30 seconds
      %option{:value => 60} 1 minute
      %option{:value => 60*60} 1 hour
      %option{:value => 60*60*24} 1 day
  
  .column.grid_4
    %label{:for => "rangeselect"} Show a specific day
    %input#dateselect{:type => "text"}

#graphs
