!!! 
%html
  %head
    %title RRD Grapher
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=UTF-8"}
    / %link{:rel => "icon", :type => "image/gif", :href => "/favicon.gif"}
    %link{:rel => 'stylesheet', :href => '/stylesheets/Aristo/theme.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/app.css', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '/javascripts/wijmo-open/css/jquery.wijmo-open.1.3.0.css', :type => 'text/css'}
    = yield_content :css
    
    %script{:type => "text/javascript", :src => "/javascripts/app-dev.js"}
    = yield_content :headers

  %body
    %div#wrapper
      %div#content
        = yield

