.hidden {
  display : none;
}

.transparent {
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}


DIV.graph_container {
  .graph {
    display: inline-block;
    width: 1200px;
    height: 400px;
  }
  
  .legend {
    display: inline-block;
    margin: 2px 20px;
    height: 100%;
    vertical-align: top;
    
    TABLE {
      border-collapse: collapse;
      
      TH {
        border-bottom: 2px solid black;
      }
      
      .legendColorBox .outerBorder {
        padding: 1px;
        border: 1px solid #aaa;
      }
      
      TH, TD {
        padding: 1px 8px;
/*        text-align: center;*/
      }
      
    }
  }
}
